<div class="container">
    <div *ngFor="let expense of expenses">
        <h2>ID: {{expense.id}}</h2>
        <h2>Expense: {{expense.expense}}</h2>
        <h2>Amount: {{expense.amount}}</h2>
        <h2>Description: {{expense.description}}</h2>
    </div>
</div>